*
  box-sizing: border-box

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  margin: 0

.properties
  padding-left: 1em

body > .properties
  padding-left: 0

.row
  //WTF?
  margin: -2px 0 -1px 0 

input
  border: 1px solid rgba(0, 0, 0, 0.125)
  border-left: none
  
  &:first-child
    border-left: 1px solid rgba(0, 0, 0, 0.125)

  margin: 0
  
  padding: 0 0.5em

  width: 100px

  &.key
    text-align: right

