body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif


input
  border: none

  width: 100px

  &.key
    margin-left: 1em
    text-align: right

