*
  box-sizing: border-box

html
  height: 100%

body
  font-family: droid sans mono,monospace,courier new,courier,sans-serif
  height: 100%
  margin: 0
  overflow: hidden
  color: rgba(0, 0, 0, 0.25)

.properties, .array
  position: relative
  padding-left: 1em

  & > .toggle
    position: absolute
    left: -10px
    top: -16px
    &::after
      content: "▼"

  &.collapsed
    display: inline
    .row
      display: none
    
    & > .toggle
      top: 0px
      left: -210px
      &::after
        content: "▶"

body > .properties
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  overflow: auto

  & > .toggle
    display: none

.row
  //WTF?
  margin: -2px 0 -1px 0 

input
  border: none
  font-family: droid sans mono,monospace,courier new,courier,sans-serif
  margin: 0
  padding: 0 0.5em
  width: 140px

iframe
  border: none
  width: 50%
  height: 100%
